@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.fa-arrow-left {
    cursor: pointer  !important;

}

.img-container {
    width: 100%;
    min-height: 100vh;
    background: url(assets/artboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.forgot-pwd, .small-text {
    font-size: 0.8rem;
}

.forgot-pwd a:hover, .small-text:hover {
    color: rgb(9, 94, 9);
    text-decoration: none;
}

#btn-submit {
    border-color: #6b55fc;
    background-color: #6b55fc;
}

#btn-submit:hover {
    border-color:#0d6efd;
    background-color: #0d6efd;
    transition: all ease-in-out 0.8s;
}

/* BTN ANIMATION */
/* * this could be optimized using a map or list to alternate colors*/
.btn-anim-fa {
    background: linear-gradient(to right, #0d6efd 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out !important;
}


.btn-anim-fa:hover {
    background-position: left bottom;
    color: whitesmoke !important;
}

.btn-anim-linkedin {
    background: linear-gradient(to right, #0dcaf0 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out !important;
}


.btn-anim-linkedin:hover {
    background-position: left bottom;
    color: whitesmoke !important;
}

.btn-anim-google {
    background: linear-gradient(to right, #dc3545 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out !important;
}


.btn-anim-google:hover {
    background-position: left bottom;
    color: whitesmoke !important;
}

#eye-icon {
    /* place item at the end and on top of the pwd input element*/
    width: 1.3rem;
    position: relative;
    left: 88%;
    top: -31px;
    /* transform: translate(275px, -32px); */
}

